* {
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 300;
  letter-spacing: -0.75px;
  color: var(--dark-color);
  font-style: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* -webkit-font-smoothing: antialiased; */
}

:root {
  --dark-color: #333;
  --theme-color: #00f;
}

a {
  text-decoration: none;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: invert(0); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  transform: scale(1.5);
}

.body {
  /* background-color: #111; */
  background-color: #fff;
}

.logo-layer {
  transition: all 350ms;
}

.logo-layer:hover,
.logo-layer:focus {
  fill: slategray;
}

.body.lock-position {
  overflow: hidden;
  position: fixed;
  touch-action: none;
  -ms-touch-action: none;
}

.white {
  color: white;
}

.black {
  color: #1d1d1d;
}

.gray {
  color: #444444;
}

.white.invert {
  width: min-content;
  color: #1d1d1d;
  background-color: #fff;
  padding: 0 2px;
  margin-left: 4px;
  line-height: 1.2;
}

.bold {
  font-weight: 700;
}

.title,
.text {
  line-height: 1.7;
  margin: 0;
  padding: 0;
  word-break: keep-all;
  white-space: pre-line;
}

.title.small {
  font-size: 16px;
}

.title.medium {
  font-size: 20px;
}

.title.large {
  font-size: 24px;
}

.title.huge {
  font-size: 30px;
}

.title.giant {
  font-size: 42px;
}

.text.small {
  font-size: 10px;
}

.text.medium {
  font-size: 12px;
}

.text.large {
  font-size: 14px;
}

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 8px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

#loadingModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.25));
}

#loadingModal.active {
  display: flex !important;
}

#postModal {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -999999;
  opacity: 0;
  top: 0;
  /* animation-name: postModalopen; */
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  background-color: #fff;
  overflow: auto;
}

#postModal > .modal-container {
  width: 100%;
  height: 100%;
  overflow: visible;
}

#postModal > .modal-container > iframe {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes postModalopen {
  0% {
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes postModalclose {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(75px);
    opacity: 0;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7.5px); 
  }
}


/*Header, Footer Area*/

.header,
.footer {
  -moz-transition: all 250ms !important;
  -ms-transition: all 250ms !important;
  -o-transition: all 250ms !important;
  -webkit-transition: all 250ms !important;
  align-items: center;
  display: flex;
  height: 56px;
  position: fixed;
  transition: all 250ms !important;
  width: 100%;
  z-index: 999;
}

.footer {
  height: 48px;
  padding-bottom: calc(env(safe-area-inset-bottom) - 20px);
}

.header.onPost {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.header.onPost div,
.footer.onPost div {
  backdrop-filter: none !important;
  filter: none !important;
}

.footer.onPost {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.header.onPost .mainTab {
  display: none !important;
}


nav.mainTab {
  width: 100%;
}

.mainTab > .mainTab-list {
  align-items: center;
  background-color: var(--dark-color);
  border-radius: 10px;
  display: flex;
  height: 60px;
  justify-content: space-around;
  padding: 0;
}

.mainTab > .mainTab-list > .mainTab-listitem {
  display: none;
}

.mainTab > .mainTab-list > .mainTab-listitem:hover + label > img {
  transform: scale(1.2);
}

.mainTab > .mainTab-list > .mainTab-listitem + label {
  align-items: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  display: inline-flex;
  height: 65%;
  justify-content: center;
  margin: 0 8px;
  text-align: center;
  width: 100%;
}

.mainTab > .mainTab-list > .mainTab-listitem + label > img {
  height: 24px;
  transition: transform 0.25s;
  width: 24px;
}

.mainTab > .mainTab-list > .mainTab-listitem:active {
  background: rgba(255, 255, 255, 0.1);
}

.mainTab
  > .mainTab-list
  > .mainTab-listitem:checked
  + label {
  border-color: rgba(255, 255, 255, 1);
}


.mainNav {
  -moz-backdrop-filter: saturate(360%) blur(30px);
  -ms-backdrop-filter: saturate(360%) blur(30px);
  -o-backdrop-filter: saturate(360%) blur(30px);
  -webkit-backdrop-filter: saturate(360%) blur(30px);
  backdrop-filter: saturate(360%) blur(30px);
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 98;
}

.mainNav.blur {
  border-color: rgba(0, 0, 0, 0.06);
}

.mainNav.is-active {
  opacity: 1;
  pointer-events: initial;
}

.mainNav > ul{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.5;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  max-width: 375px;
  margin-top: -54px;
}

.mainNav > ul > li,
.mainNav > ul > a {
  border-bottom: 4px solid transparent;
  color: var(--dark-color);
  cursor: pointer;
  text-align: left;
  transition: margin 0.15s ease, padding 0.15s ease, border 0.15s ease;
  width: auto;
  display: none;
  line-height: 1.2;
  margin-right: auto;
  height: auto;
  animation: menuListItemAnimation 0.15s ease 1;
}

.mainNav.is-active > ul > li,
.mainNav.is-active > ul > a {
  display: flex;
}

@keyframes menuListItemAnimation {
  0% {
    margin-top: 10%;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.mainNav > ul > li:hover,
.mainNav > ul > a:hover {
  border-color: var(--theme-color);
  margin-top: -8px;
  padding-bottom: 8px;
  color: var(--theme-color);
}

.mainNav > ul > li:hover > *
.mainNav > ul > a:hover > * {
  color: var(--theme-color);
}

.hamburger {
  cursor: pointer;
}

.hamburger:hover > svg {
  width: 300px;
  height: 18.45px;
  /* transition: width 100ms ease-in-out; */
}

.hamburger > svg {
  width: 18.45px;
  height: 18.45px; 
  object-fit: fill;
}




.hamburger{
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-transform:translate3d(0, 0, 0);
    -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    -webkit-user-select:none;
    align-items: center;
    background-color:transparent;
    cursor:pointer;
    display: flex;
    flex-direction: column;
    height:28px;
    justify-content: center;
    margin-top: 5px;
    position:relative;
    transform:translate3d(0, 0, 0);
    transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    user-select:none;
    width:28px;
    z-index:1002;
  }
.hamburger.is-active{
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  background-color:none;
  transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
._layer{
    -webkit-transform:translate3d(0, 0, 0);
    -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    background:#fff;
    height:2px;
    margin-bottom:5px;
    opacity:1;
    transform:translate3d(0, 0, 0);
    transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    width:26px;
  }
.hamburger:hover .-top{
    -ms-transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
    -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transform:translateY(-100%);
    transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
.hamburger:hover .-bottom{
    -ms-transform:translateY(100%);
    -webkit-transform:translateY(100%);
    -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transform:translateY(100%);
    transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
.hamburger.is-active .-top{
    -ms-transform:translateY(350%) rotate(45deg) !important;
    -webkit-transform:translateY(350%) rotate(45deg) !important;
    -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transform:translateY(350%) rotate(45deg) !important;
    transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
.hamburger.is-active .-mid{
    -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    opacity:0;
    transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
.hamburger.is-active .-bottom{
    -ms-transform:translateY(-350%) rotate(135deg) !important;
    -webkit-transform:translateY(-350%) rotate(135deg) !important;
    -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transform:translateY(-350%) rotate(135deg) !important;
    transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }

.blur {
  -moz-backdrop-filter: saturate(360%) blur(30px);
  -ms-backdrop-filter: saturate(360%) blur(30px);
  -o-backdrop-filter: saturate(360%) blur(30px);
  -webkit-backdrop-filter: saturate(360%) blur(30px);
  backdrop-filter: saturate(360%) blur(30px);
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.footer {
  bottom: 0;
}

.cont-header {
  filter: invert(1);
}

.cont-header,
.cont-footer {
  -moz-transition: filter 250ms;
  -ms-transition: filter 250ms;
  -o-transition: filter 250ms;
  -webkit-transition: filter 250ms;
  align-items: center;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); */
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 2560px;
  padding-left: 48px;
  padding-right: 48px;
  transition: filter 250ms;
  width: 100%;
  /* filter: invert(1); */
}

.cont-header *,
.cont-footer * {
  transition: color 350ms;
  color: #000 !important;
}


.main-logo {
  align-items: center;
  display: inline-flex;
  height: 100%;
  overflow: visible !important;
}

.main-logo #main-logo-image {
  height: 38px;
  object-fit: contain;
  width: 38px;
}

.logo {
  height: 38px;
  object-fit: contain;
  width: 38px;
}

.btn {
  cursor: pointer;
  transition: all 350ms;
}

.btn:hover,
.btn:focus {
  color: slategray;
}

.btn > .fa {
  font-size: 24px;
}

.btn#btn-close {
  align-items: center;
  backdrop-filter: blur(400px);
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  display: none;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  justify-content: flex-end;
  text-align: right;
  width: 100%;
  z-index: 999099;
}

.cont-header .cont-header-left,
.cont-footer .cont-footer-left {
  align-items: center;
  display: inline-flex;
  height: 100%;
  justify-content: left;
  width: 40%;
}

.cont-header .cont-header-center {
  height: 100%;
  text-align: center;
}

.cont-footer .cont-footer-left > #copyright {
  font-size: 11px;
  width: max-content;
}

.cont-header .cont-header-center,
.cont-footer .cont-footer-center {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 20%;
}

.cont-footer .cont-footer-center > #btn-gallery {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: linear;
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  text-align: center;
  width: 100%;
}

.cont-header .cont-header-right,
.cont-footer .cont-footer-right {
  align-items: center;
  display: inline-flex;
  height: 100%;
  justify-content: flex-end;
  width: 40%;
}

.social-link {
  color: gray;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-right: 4px;
  width: 24px;
}

.social-link:nth-child(4) {
  margin-left: -2px;
  margin-right: 0;
}

/*Header. Footer Area End*/

/*classes*/
.container {
  width: 100%;
  margin: 0 auto;

}

.container#main-container {
  height: 100vh;
  width: 100%;
}


/*main contents area*/
#main-contents,
#gallery-contents {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}

#gallery-contents {
  height: max-content;
}

.contents-container {
  max-width: 2560px;
  margin: 0 auto;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 72px;
  padding-bottom: 72px;
  color: black;
  overflow: auto;
}

/*main contents - banner area*/
.swiper-container {
  width: 100%;
  height: calc(100% - 52px);
  position: absolute;
  /* filter: drop-shadow(0 0.5em 1.5em rgba(0, 0, 0, 0.2)); */
}

.swiper-container#swiper-gallery {
  animation-name: listInit;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.swiper-wrapper.gallery {
  display: flex;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

}
.gallery-navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: -webkit-fill-available;
  bottom: 8px;
  z-index: 99999;
  padding-left: 42px;
  padding-right: 42px;
}


.gallery-navigation > div {
  font-size: 28px;
  text-align: left;
  outline: none;
  cursor: pointer;
  transition: all 350ms;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1);
}

.gallery-navigation > .gallery-prev:hover,
.gallery-navigation > .gallery-next:hover {
  transform: scale(1.25);
  background: black;
  filter: invert(1);
}

.project-slide {
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  width: 70%;
  max-width: 512px;
  max-height: calc(100% - 128px);
  height: fit-content;
  cursor: pointer;
  transition: all 350ms;
}

.loading {
  transition: all 350ms;
  filter: saturate(0);
}

.project-slide > div > img {
  border-radius: 5px;
  object-fit: contain;
  min-height: 256px;
  width: 100%;
  transition: transform 350ms;
}

.project-slide > div > img:hover {
  transform: scale(1.035);
}

.project-title {
  font-size: 15px;
  line-height: 1.4;
  color: #000;
  margin-top: 12px;
}

.swiper-slide {
  color: #000;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.swiper-pagination-v {
  line-height: 0;
  width: 10px;
  height: max-content;
  bottom: 50%;
}

.swiper-pagination-h {
  line-height: 0;
  width: max-content;
  height: 10px;
}

.swiper-pagination-bullet {
  width: 1px;
  height: 100%;
  content: "|";
  text-align: center;
  font-size: 12px;
  color: #000;
  border-collapse: collapse;
  opacity: 1;
  background: #fff;
  border-radius: 0;
  margin: 0 1px;
  transition: all 300ms;
}

.swiper-pagination-bullet:hover {
  transform: rotate(-22.5deg);
}

.swiper-pagination-bullet:focus {
  outline: none;
}

.swiper-pagination-bullet-active {
  margin: 0 7.5px;
  transform: rotate(90deg);
}

#gallery-pagination.hide {
  display: none !important;
}

#grids-gallery {
  padding-top: 56px;
  padding-bottom: 56px;
}

.grids-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  line-height: 6;
  animation-name: listInit;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  border-top: 0.5px solid #000;
}

.grids-list .item {
  width: calc(100vw / 4 - 2px);
  aspect-ratio: 3/4 !important;
  text-align: left;
  display: inline-block;
  /* margin-bottom: 64px; */
  cursor: pointer;
  transition: 350ms transform;
  /* padding-left: 24px;
  padding-right: 24px; */
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-collapse: collapse;
  margin: 0;
}

.grids-list .item:nth-of-type(4n) {
  border-right: none;
}

@keyframes listInit {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* .grids-list .item:nth-of-type(odd) {
  animation-delay: 0.2s;
} */

/* .grids-list .item:last-child {
  margin-right: auto;
  margin-left: 8px;
} */

/* .grids-list .item:nth-of-type(3n) {
  width: calc(100%/4 - 4%);
}

.grids-list .item:nth-of-type(5n) {
  width: calc(100%/4 - 1%);
} */

.grids-list .item:hover {
  /* transform: scale(1.015) translateY(5px); */
  background-color: rgba(0, 0, 0, 0.05);
  
}

.grids-list .item>img {
  display: block;
  width: calc(100% - 48px);
  height: 100%;
  aspect-ratio: 3 / 4.25;
  object-fit: cover;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 8px;
  cursor: pointer;
  transition: filter 100ms, object-position 3500ms;

}

.grids-list .item>img:hover {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.15));
  /* backdrop-filter: blur(30px); */
  object-fit: contain;
}

.grids-list .item-desc {
  display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    padding-left: 24px;
    padding-right: 24px;
    gap: 4px;
}

.grids-list .item-desc .item-name{
  line-height: 1.15;
  white-space: pre;
  min-height: 36px;
  display: flex;
  align-items: center;
}


/* Poster Display Style */
.post-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 48px;
}

.post-container > .post {
  width: 620px;
}

/* Post */
.post-container > .postDesc {
  width: 100%;
  max-width: 620px;
  text-align: left;
  padding: 16px;
  margin-left: 16px;
}


svg {
  width: 100%;
  /* box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.3); */
}

@media (max-width: 3840px) {
  .cont-footer, .cont-header {
    max-width: 2160px;
  }
  .contents-container {
    max-width: 2160px;
  }

}

@media (max-width: 2160px) {
  .cont-footer, .cont-header {
    max-width: 2560px;
  }
  .contents-container {
    max-width: 2560px;
  }

/* on iPad Pro*/
@media (max-width: 1280px) {
  .project-slide {
    max-width: 520px;
  }

  .grids-list .item {
    width: calc(100%/3 - 1px);
  }

  .grids-list .item:nth-of-type(4n) {
    border-right: 1px solid #000;
  }

  .grids-list .item:nth-of-type(3n) {
    border-right: none;
  }

  .post-container {
    flex-direction: column;
    padding-top: 60px;
    height: calc(100% - 96px);
  }

  .post-container > .postDesc {
  max-width: calc(100% - 32px);
  margin-left: 0px;
  }

  .grids-list .item>img {
    width: calc(100% - 32px);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 4px;
  
  }

  .grids-list .item-desc {
    padding-left: 16px;
    padding-right: 16px;
}
}

/* on iPad */
@media (max-width: 768px) {
  .project-slide {
    max-width: 520px;
  }
/* 
  .grids-list .item {
    width: calc(100% / 3 - 16px);
  } */

  .grids-list .item>img {
    width: calc(100% - 24px);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 4px;
  
  }

  .grids-list .item-desc {
    padding-left: 12px;
    padding-right: 12px;
}
}

/* on mobile */
@media (max-width: 480px) {
  .title.small {
    font-size: 14px;
  }
  
  .title.medium {
    font-size: 18px;
  }
  
  .title.large {
    font-size: 20px;
  }
  
  .title.huge {
    font-size: 24px;
  }
  
  .title.giant {
    font-size: 30px;
  }
  
  .text.small {
    font-size: 9px;
  }
  
  .text.medium {
    font-size: 13px;
  }
  
  .text.large {
    font-size: 17px;
  }

  
  .header {
    height: 60px;
  }

  .footer {
    height: 48px;
  }

  .cont-header,
  .cont-footer {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .main-logo #main-logo-image {
    width: 32px;
    height: 32px;
  }
  .cont-footer .cont-footer-left {
    width: 100%;
  }

  .cont-footer .cont-footer-center {
    width: 48px;
    justify-content: flex-end;
  }

  .cont-footer .cont-footer-right {
    display: none;
  }

  .mainNav > ul {
    flex-direction: column;
  }

  .mainNav > ul > li,
  .mainNav > ul > a {
    margin-left: 16px;
    margin-right: 16px;
    text-align: left;
  }

  .pagination-wrapper {
    height: 56px;
  }

  .project-slide {
    width: 85%;
    max-width: 520px;
  }

  .contents-container {
    /* overflow: hidden; */
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 56px;
  }

  .gallery-navigation {
    padding-left: 16px;
    padding-right: 16px;
  }

  .grids-list .item {
    width: calc(50% - 0.5px);
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }

  .grids-list .item>img {
    width: calc(100% - 16px);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 4px;
  
  }

  .grids-list .item-desc {
      padding-left: 8px;
      padding-right: 8px;
  }

  .grids-list .item:nth-of-type(2n) {
    border-right: none !important;
  }

  .grids-list .item:nth-of-type(3n) {
    border-right: 1px solid #000;
  }

  .post-container {
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100% - 16px);
    height: 100%;
    justify-content: flex-start;
    overflow-x: hidden;

  }

  .post-container > .postDesc {
    max-width: calc(100% - 32px);
    margin-left: 0px;
    }

  .post-container > .post {
    width: 100%;
  }

  .grids-list .item>img {
    aspect-ratio: auto;
  
  }
}

@media (max-height: 768px) {
  .project-slide {
    max-width: 420px;
  }

  .project-slide > div > img {
    min-height: 0;
  }

  /* .post-container > .post {
    width: 480px;
  } */
}

@media (max-height: 480px) {
  .project-slide {
    max-width: 180px;
  }

  .project-slide > div > img {
    min-height: 0;
  }

  .project-title {
    font-size: 11px;
  }

  /* .post-container > .post {
    width: 210px;
  } */
}
