@font-face {
  src: url("../fonts/helvetica.ttf") format("truetype");
  font-family: "Helvetica";
}

@font-face {
  src: url("../fonts/AppleSDGothicNeoL.ttf") format("truetype");
  font-family: "AppleSDGothicNeo";
}

html {
  cursor: none;
}

a {
  text-decoration: none;
  color: white;
}

* {
  font-family: "Helvetica", "KopubWorldDotum", "Noto Sans KR", sans-serif;
  font-weight: 500;
  transition: all 200ms;
  color: white;
}

#block-main {
	animation-name: postModalclosebg;
	animation-duration: 0.25s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;

}

.cursor {
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  width: 1.25vw;
  height: 1.25vw;
  border-top-left-radius: 12.5%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-backdrop-filter: invert(100%) hue-rotate(180deg);
  backdrop-filter: invert(100%) hue-rotate(180deg);
  margin-top: -10px;
  margin-left: -10px;
  transition: all 10ms;
}

.moving {
  opacity: 1;
}

#postModal {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  /* animation-name: postModalopen; */
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

#postModal > .modal-container {
  width: 100%;
  height: 100%;
}

#postModal > .modal-container > iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@keyframes postModalopen {
  0% {
    top: 100%;
  }

  100% {
    top: 0%;
  }
}

@keyframes postModalopenbg {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes postModalclose {
  0% {
    border-radius: 100%;
    top: 0%;
  }

  100% {
    border-radius: 0%;
    top: 100%;
  }
}

@keyframes postModalclosebg {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.post-thumb {
  width: 256px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  transition: all 200ms;
}

.post-thumb:hover {
  transform: scale(1.05) translateY(-15px);
}

/*tags*/
body {
  background-color: black !important;
  /* background-image: url(../images/wallpaper.gif);
	background-size: cover; */
  width: 100%;
}

/*classes*/
.container {
  width: 100%;
  margin: 0 auto;
}

.container#main-container {
  height: 100vh;
  width: 100%;
}

#canvas {
	position: fixed;
	z-index: 0;
	width: 100%;
	  height: 100%;
	  opacity: 0.3;
}

/*Header Area*/
.header {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 72px;
  position: fixed;
  z-index: 999;
}

.cont-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  padding-top: 24px;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); */
}

.cont-header .cont-header-left {
  padding-left: 48px;
}
.cont-header .cont-header-right {
  padding-right: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-logo {
  display: inline-block;
  cursor: pointer;
}

.main-logo #main-logo-image {
  width: 48px;
  height: 48px;
  filter: invert(1);
  transition: all 100ms ease-in-out;
}

.main-logo #main-logo-image:focus,
.main-logo #main-logo-image:hover {
  filter: invert(0);
}

/*Header Area End*/

/*Footer Area Start*/
.footer {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 72px;
  position: fixed;
  z-index: 999;
  bottom: 0;
}

.cont-footer {
  display: inline-block;
  width: 100%;
  height: 72px;
  padding-bottom: 24px;
}

.cont-footer .cont-footer-left {
  display: inline-block;
  position: absolute;
  left: 0;
  padding-left: 48px;
}

.cont-footer .cont-footer-right {
  display: inline-block;
  position: absolute;
  right: 0;
  padding-right: 48px;
}

.social-link {
  display: inline-block;
  width: 24px;
  font-size: 14pt;
  color: gray;
  cursor: pointer;
}

.social-link .fa {
  transition: all 200ms;
}

.social-link .fa:hover {
  color: slategray;
}

/*Footer Area End*/

/*bottom Area*/
.bottom {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 36px;
  position: absolute;
  border-top: 8px groove rgba(255, 255, 255, 0.05);
}

.bottom-container {
  padding: 36px;
}

.bottom-area {
  margin-bottom: 36px;
  display: inline-block;
  width: 31.4vw;
  vertical-align: top;
}

.title-bottom {
  font-size: 14pt;
  color: white;
  border-left: 4px solid slategray;
  padding-left: 4px;
}

.content-bottom {
  font-size: 10pt;
  color: gray;
  margin-top: -4px;
  line-height: 1.6;
}

.movetop-arrow {
  color: rgba(100, 100, 100, 0.7);
  font-size: 36pt;
  width: 48px;
  height: 48px;
  text-align: center;
  display: block;
  margin: 0 auto;
  animation-name: arrow-jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border-radius: 100%;
}
/*bottom area end*/

#block-main {
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-timing-function: 1;
}

/*main contents area*/
#main-contents {
  width: 100%;
  height: 100%;
}

.gallery {
  padding: 4px;
  padding-top: 72px;
  padding-bottom: 72px;
}

.image-frame {
  width: 210px;
  height: 297px;
  display: inline-block;
  transition: transform 200ms ease-in-out;
  background-size: cover !important;
  object-fit: cover;
  margin-top: 2.5vw;
  text-align: center;
  font-size: 10pt;
  margin-right: 16px;
}

.image-frame-title {
  content: "";
  height: auto;
  width: auto;
  bottom: 0;
  display: inline-block;
  margin-top: 297px;
  padding-top: 8px;
  font-size: 9pt;
  color: white;
  text-align: center;
}

.image-frame:hover {
  transform: scale(1.025);
}

/*main contents - banner area*/
.swiper-container {
  width: 100%;
  height: 100%;
  position: sticky;
}

.swiper-wrapper.gallery-new {
  display: flex;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.gallery-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: -webkit-fill-available;
  top: calc(50% - 12px);
  z-index: 99999;
  padding-left: 48px;
  padding-right: 48px;
}

.gallery-navigation > div {
  font-size: 28px;
  text-align: left;
  outline: none;
  cursor: pointer;
}

.gallery-navigation > div:hover {
	transform: scale(1.25);
}

.gallery-navigation > div:last-child {
  text-align: right;
}

.project-slide {
  background-position: center;
  background-size: cover;
  width: 480px;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0 15px 150px 0px black;
}

.project-slide > div > img {
  border-radius: 10px;
  object-fit: contain;
  width: 100%;
}

.center-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container-v {
}

.swiper-slide {
  color: white;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 72px;
}

.swiper-pagination-v {
  line-height: 0;
  width: 10px;
  height: max-content;
  bottom: 50%;
}

.swiper-pagination-h {
  line-height: 0;
  width: max-content;
  height: 10px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0);
  border: solid 1px white;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  margin: 0;
}

.swiper-pagination-bullet:focus {
  width: 8px;
  height: 8px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0);
  border: solid 1px white;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  margin: 0;
}

.swiper-pagination-bullet-active {
  background: #fff;
  color: rgba(0, 0, 0, 0);
  border: solid 1px white;
  border-radius: 0;
}

/*Index page - welcome*/
.page-container {
  width: 100%;
  height: 100%;
}

.project-frame {
  display: block;
}

.masonry {
  /* Masonry container */
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 2%;
  -moz-column-gap: 2%;
  column-gap: 2%;
  -moz-column-gap: 2%;
  -webkit-column-gap: 2%;
  column-gap: 2%;
  font-size: 0.85em;
  margin: 0 4%;
  padding-top: 96px;
  padding-bottom: 96px;
}
.item {
  display: inline-block;
  margin: 0 0 2vw;
  width: 100%;
  -webkit-transition: 500ms ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 5px;
}
.item img {
  max-width: 100%;
}

@media only screen and (max-width: 320px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 1201px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

/* on mobile */
@media (max-width: 1280px) {
  .cursor {
    display: none;
  }
}

/* on mobile */
@media (max-width: 720px) {
  .cursor {
    display: none;
  }
}

/* on mobile */
@media (max-width: 480px) {
  .cursor {
    display: none;
  }
å
  .header {
    height: 56px;
  }

  .pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 56px;
  }

  .cont-header {
    height: 56px;
    padding-top: 16px;
    animation-name: initheader;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  .cont-header .cont-header-left {
    padding-left: 32px;
  }
  .cont-header .cont-header-right {
    padding-right: 32px;
  }

  .main-logo #main-logo-image {
    width: 36px;
    height: 36px;
  }

  .footer {
    height: 56px;
  }

  .cont-footer {
    height: 56px;
    padding-bottom: 24px;
  }

  .cont-footer .cont-footer-left {
    padding-left: 32px;
  }

  .cont-footer .cont-footer-right {
    padding-right: 32px;
  }

  .pagination-wrapper {
    height: 56px;
  }

  /*Index page - welcome*/
  .page-container {
    width: calc(100% - 64px);
    left: 0;
    margin: 0 0 32px 32px;
  }

  .gallery-navigation {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-slide {
    width: 75%;
  }
}
