@font-face {
  src: url("../fonts/helvetica.ttf") format("truetype");
  font-family: "Helvetica";
}

@font-face {
  src: url("../fonts/AppleSDGothicNeoL.ttf") format("truetype");
  font-family: "AppleSDGothicNeo";
}

* {
  font-family: "Helvetica", "sandoll-gothicneo1", "AppleSDGothicNeo", "Noto Sans KR", sans-serif;
  color: white;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: invert(0); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  transform: scale(1.5);
}

.body {
  background-color: #000;
}

.logo-layer {
  transition: all 350ms;
}

.logo-layer:hover,
.logo-layer:focus {
  fill: slategray;
}

.body.lock-position {
  overflow: hidden;
  position: fixed;
  touch-action: none;
  -ms-touch-action: none;
}

.body::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.1;
  /* background-image: url('/images/background.gif'); */
}


.white {
  color: white;
}

.black {
  color: #1d1d1d;
}

.white.invert {
  width: min-content;
  color: #1d1d1d;
  background-color: #fff;
  padding: 0 2px;
  margin-left: 4px;
  line-height: 1.2;
}

.black.invert {
  width: min-content;
  color: #fff;
  background-color: #1d1d1d;
  padding: 0 2px;
  margin-left: 4px;
  line-height: 1.2;
}

.bold {
  font-weight: 700;
}

.title,
.text {
  line-height: 1.7;
  margin: 0;
  padding: 0;
  word-break: keep-all;
  white-space: pre-line;
}

.title.small {
  font-size: 16px;
}

.title.medium {
  font-size: 20px;
}

.title.large {
  font-size: 24px;
}

.title.huge {
  font-size: 30px;
}

.title.giant {
  font-size: 42px;
}

.text.small {
  font-size: 10px;
}

.text.medium {
  font-size: 12px;
}

.text.large {
  font-size: 14px;
}

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 8px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

#loadingModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.25));
}

#loadingModal.active {
  display: flex !important;
}

#postModal {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -999999;
  opacity: 0;
  top: 0;
  /* animation-name: postModalopen; */
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  background-color: #fff;
  overflow: auto;
}

#postModal > .modal-container {
  width: 100%;
  height: 100%;
  overflow: visible;
}

#postModal > .modal-container > iframe {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes postModalopen {
  0% {
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes postModalclose {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(75px);
    opacity: 0;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7.5px);
  }
}

/*classes*/
.container {
  width: 100%;
  margin: 0 auto;
}

.container#main-container {
  height: 100vh;
  width: 100%;
  background-color: #111;
}

#canvas {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

/*Header, Footer Area*/

.header,
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 999;
  transition: all 250ms !important;
  -webkit-transition: all 250ms !important;
  -ms-transition: all 250ms !important;
  -moz-transition: all 250ms !important;
  -o-transition: all 250ms !important;
}

.footer {
  height: 48px;
  padding-bottom: calc(env(safe-area-inset-bottom) - 20px);
}

.header.onPost {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.header.onPost div,
.footer.onPost div {
  filter: none !important;
  backdrop-filter: none !important;
}

.footer.onPost {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.header.onPost .mainTab {
  display: none !important;
}


nav.mainTab {
  width: 100%;
}

.mainTab > .mainTab-list {
  height: 60px;
  background-color: var(--dark-color);
  display: flex;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.mainTab > .mainTab-list > .mainTab-listitem {
  display: none;
}

.mainTab > .mainTab-list > .mainTab-listitem:hover + label > img {
  transform: scale(1.2);
}

.mainTab > .mainTab-list > .mainTab-listitem + label {
  width: 100%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  margin: 0 8px;
}

.mainTab > .mainTab-list > .mainTab-listitem + label > img {
  width: 24px;
  height: 24px;
  transition: transform 0.25s;
}

.mainTab > .mainTab-list > .mainTab-listitem:active {
  background: rgba(255, 255, 255, 0.1);
}

.mainTab
  > .mainTab-list
  > .mainTab-listitem:checked
  + label {
  border-color: rgba(255, 255, 255, 1);
}


.mainNav {
  width: 100%;
  position: fixed;
  max-width: none;
  top: -50vh;
  z-index: 98;
  left: 0;
  transition: top 0.25s;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(540%) blur(30px);
  -webkit-backdrop-filter: saturate(540%) blur(30px);
  -moz-backdrop-filter: saturate(540%) blur(30px);
  -ms-backdrop-filter: saturate(540%) blur(30px);
  -o-backdrop-filter: saturate(540%) blur(30px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 10px 10em 0 rgba(0, 0, 0, 0.15);
}

.mainNav.blur {
  border-color: rgba(0, 0, 0, 0.06);
}

.mainNav.is-active {
  top: 0;
}

.mainNav > ul{
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  list-style-type: none;
  margin-top: 72px;
  line-height: 2.5;
}

.mainNav > ul > li {
  color: #fff;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out;
  margin-left: 16px;
  margin-right: 16px;
  width: calc(100% - 32px);
  text-align: center;
  border-bottom: 2px solid transparent;
}

.mainNav.blur > ul > li {
  filter: invert(1);
}

.mainNav > ul > li:hover {
  border-color: #fff;
}

.hamburger{
	position:relative;
  background-color:transparent;
	height:28px;
	width:28px;
  margin-top: 5px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hamburger.is-active{
  background-color:none;
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
._layer{
	background:#fff;
	margin-bottom:5px;
	width:26px;
	height:2px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(350%) rotate(45deg) !important;
	-ms-transform:translateY(350%) rotate(45deg) !important;
	transform:translateY(350%) rotate(45deg) !important;
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger.is-active .-mid{
	opacity:0;
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-350%) rotate(135deg) !important;
	-ms-transform:translateY(-350%) rotate(135deg) !important;
	transform:translateY(-350%) rotate(135deg) !important;
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.blur {
  background-color: rgba(255, 255, 255, 0.75) !important;
  backdrop-filter: saturate(540%) blur(30px);
  -webkit-backdrop-filter: saturate(540%) blur(30px);
  -moz-backdrop-filter: saturate(540%) blur(30px);
  -ms-backdrop-filter: saturate(540%) blur(30px);
  -o-backdrop-filter: saturate(540%) blur(30px);
}

.footer {
  bottom: 0;
}

.cont-header,
.cont-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  transition: filter 250ms;
  -webkit-transition: filter 250ms;
  -ms-transition: filter 250ms;
  -moz-transition: filter 250ms;
  -o-transition: filter 250ms;
  padding-left: 48px;
  padding-right: 48px;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); */
}

.cont-header *,
.cont-footer * {
  transition: color 350ms;
}


.main-logo {
  height: 100%;
  display: inline-flex;
  align-items: center;
  overflow: visible !important;
}

.main-logo #main-logo-image {
  width: 38px;
  height: 38px;
  object-fit: contain;
}

.logo {
  width: 38px;
  height: 38px;
  object-fit: contain;
}

.btn {
  cursor: pointer;
  transition: all 350ms;
}

.btn:hover,
.btn:focus {
  color: slategray;
}

.btn > .fa {
  font-size: 24px;
}

.btn#btn-close {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  backdrop-filter: blur(400px);
  z-index: 999099;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

.cont-header .cont-header-left,
.cont-footer .cont-footer-left {
  display: inline-flex;
  justify-content: left;
  width: 40%;
  align-items: center;
  height: 100%;
}

.cont-header .cont-header-center {
  text-align: center;
  height: 100%;
}

.cont-footer .cont-footer-left > #copyright {
  width: max-content;
  font-size: 11px;
}

.cont-header .cont-header-center,
.cont-footer .cont-footer-center {
  display: inline-flex;
  justify-content: center;
  width: 20%;
  align-items: center;
}

.cont-footer .cont-footer-center > #btn-gallery {
  width: 100%;
  height: 100%;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cont-header .cont-header-right,
.cont-footer .cont-footer-right {
  display: inline-flex;
  justify-content: flex-end;
  width: 40%;
  align-items: center;
  height: 100%;
}

.social-link {
  display: inline-block;
  width: 24px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
  margin-right: 4px;
}

.social-link:nth-child(4) {
  margin-right: 0;
  margin-left: -2px;
}

/*Header. Footer Area End*/

/*main contents area*/
#main-contents,
#gallery-contents {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}

#gallery-contents {
  height: max-content;
}

#gallery-contents p {
  color: #000;
}

.contents-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 72px;
  padding-bottom: 72px;
  color: black;
  overflow: auto;
}

/*main contents - banner area*/
.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: drop-shadow(0 0.5em 1.5em rgba(0, 0, 0, 0.2));
}

.swiper-container#swiper-gallery {
  animation-name: listInit;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.swiper-wrapper.gallery {
  display: flex;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

}
.gallery-navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: -webkit-fill-available;
  bottom: 72px;
  z-index: 99999;
  padding-left: 42px;
  padding-right: 42px;
}


.gallery-navigation > div {
  font-size: 28px;
  text-align: left;
  outline: none;
  cursor: pointer;
  transition: all 350ms;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1);
}

.gallery-navigation > .gallery-prev:hover,
.gallery-navigation > .gallery-next:hover {
  transform: scale(1.25);
  background: black;
  filter: invert(1);
}

.project-slide {
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  width: 70%;
  max-width: 512px;
  max-height: calc(100% - 128px);
  height: fit-content;
  cursor: pointer;
  transition: all 350ms;
}

.loading {
  transition: all 350ms;
  filter: saturate(0);
}

.project-slide > div > img {
  border-radius: 5px;
  object-fit: contain;
  min-height: 256px;
  width: 100%;
  transition: transform 350ms;
}

.project-slide > div > img:hover {
  transform: scale(1.035);
}

.project-title {
  font-size: 15px;
  line-height: 1.4;
  color: #000;
}

.swiper-slide {
  color: #000;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.swiper-pagination-v {
  line-height: 0;
  width: 10px;
  height: max-content;
  bottom: 50%;
}

.swiper-pagination-h {
  line-height: 0;
  width: max-content;
  height: 10px;
}

.swiper-pagination-bullet {
  width: 1px;
  height: 100%;
  content: "|";
  text-align: center;
  font-size: 12px;
  color: #000;
  border-collapse: collapse;
  opacity: 1;
  background: #fff;
  border-radius: 0;
  margin: 0 1px;
  transition: all 300ms;
}

.swiper-pagination-bullet:hover {
  transform: rotate(-22.5deg);
}

.swiper-pagination-bullet:focus {
  outline: none;
}

.swiper-pagination-bullet-active {
  margin: 0 2.5px;
  transform: rotate(-22.5deg);
}

#gallery-pagination.hide {
  display: none !important;
}

.grids-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  line-height: 6;
  animation-name: listInit;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.grids-list .item {
  width: calc(100% / 5 - 16px);
  height: auto;
  text-align: left;
  display: inline-block;
  margin-bottom: 64px;
  cursor: pointer;
  transition: 350ms transform;
  padding-left: 8px;
  padding-right: 8px;
}

@keyframes listInit {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* .grids-list .item:nth-of-type(odd) {
  animation-delay: 0.2s;
} */

/* .grids-list .item:last-child {
  margin-right: auto;
  margin-left: 8px;
} */

/* .grids-list .item:nth-of-type(3n) {
  width: calc(100%/4 - 4%);
}

.grids-list .item:nth-of-type(5n) {
  width: calc(100%/4 - 1%);
} */

.grids-list .item:hover {
  transform: scale(1.015) translateY(5px);
  
}

.grids-list .item>img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 4.25;
  object-fit: contain;
  margin-bottom: 4px;
  transition: filter 100ms, object-position 3500ms;

}

.grids-list .item>img:hover {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.15));
  backdrop-filter: blur(30px);
  object-fit: contain;
}

.grids-list .item-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Poster Display Style */
.post-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 48px;
}

.post-container > .post {
  width: 620px;
}

/* Post */
.post-container > .postDesc {
  width: 100%;
  max-width: 620px;
  text-align: left;
  padding: 16px;
  margin-left: 16px;
}


svg {
  width: 100%;
  /* box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.3); */
}

@media (max-width: 3840px) {
  .cont-footer, .cont-header {
    max-width: 2160px;
  }
  .contents-container {
    max-width: 2160px;
  }

  .mainNav > ul{
    max-width: 2160px;
  }
}

@media (max-width: 2160px) {
  .cont-footer, .cont-header {
    max-width: 1440px;
  }
  .contents-container {
    max-width: 1440px;
  }

  .mainNav > ul{
    max-width: 1440px;
  }

/* on iPad Pro*/
@media (max-width: 1280px) {
  .project-slide {
    max-width: 520px;
  }

  .grids-list .item {
    width: calc(100%/4 - 16px);
  }

  .post-container {
    flex-direction: column;
    padding-top: 60px;
    height: calc(100% - 96px);
  }

  .post-container > .postDesc {
  max-width: calc(100% - 32px);
  margin-left: 0px;
  }
}

/* on iPad */
@media (max-width: 768px) {
  .project-slide {
    max-width: 520px;
  }

  .grids-list .item {
    width: calc(100% / 3 - 16px);
  }
}

/* on mobile */
@media (max-width: 480px) {
  .header {
    height: 60px;
  }

  .footer {
    height: 48px;
  }

  .cont-header,
  .cont-footer {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .main-logo #main-logo-image {
    width: 32px;
    height: 32px;
  }
  .cont-footer .cont-footer-left {
    width: 100%;
  }

  .cont-footer .cont-footer-center {
    width: 48px;
    justify-content: flex-end;
  }

  .cont-footer .cont-footer-right {
    display: none;
  }

  .mainNav > ul {
    flex-direction: column;
  }

  .mainNav > ul > li {
    margin-left: 16px;
    margin-right: 16px;
    text-align: left;
  }

  .pagination-wrapper {
    height: 56px;
  }

  .project-slide {
    width: 85%;
    max-width: 520px;
  }

  .contents-container {
    /* overflow: hidden; */
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 56px;
  }

  .gallery-navigation {
    padding-left: 16px;
    padding-right: 16px;
  }

  .grids-list .item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .post-container {
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100% - 16px);
    height: 100%;
    justify-content: flex-start;
    overflow-x: hidden;

  }

  .post-container > .postDesc {
    max-width: calc(100% - 32px);
    margin-left: 0px;
    }

  .post-container > .post {
    width: 100%;
  }
}

@media (max-height: 768px) {
  .project-slide {
    max-width: 420px;
  }

  .project-slide > div > img {
    min-height: 0;
  }

  /* .post-container > .post {
    width: 480px;
  } */
}

@media (max-height: 480px) {
  .project-slide {
    max-width: 180px;
  }

  .project-slide > div > img {
    min-height: 0;
  }

  .project-title {
    font-size: 11px;
  }

  /* .post-container > .post {
    width: 210px;
  } */
}
