@font-face
{
  src: url("../Fonts/font.ttf") format('truetype');
  font-family: "font";
}
        
p
{
    font-family: "font", Noto Sans KR Thin, Sans-serif;
}

* {
	font-family: "font", Noto Sans KR Thin, Sans-Serif;
	text-align:center;
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

a {
	text-decoration:none;
	text-decoration-color: black;
  color: #fff;
  	font-size: 12pt;
}

a:hover, a:focus {
  color: #59b7ff;
}



html, body {
    background: linear-gradient(135deg, rgb(25, 25, 25) 0%, rgb(0, 0, 0) 100%);
    height: 100vh; 
    width: 100%;
	  align-content: center;
    position: fixed;
    text-align: center;
    overflow: hidden;
    color: #fff;
}

#space {
  height: 30%;
  visibility: hidden;
}

#preview {
  z-index: 4000;
  position:absolute;
  border:0px solid #ccc;
  background:#333;
  padding:1px;
  display:none;
  color:#fff;
      }

#menu {
  float: right;
  margin-top: 0.5em;
}

/*class*/
.item {
  width: 100%
  height: auto;
  max-height: 250px;
  align-content:center;
  display: table;
}

.num {
  font-size: 52pt;
}

.num_sub {
  font-size: 52pt;
}

.txt {
  font-size: 32pt; 
  padding-left: 8px;
}

.counter {
  text-align: center;
}

.menu-button {
	color: #ffffff60; 
	font-size: 16pt;
}

.title {
  color: #fff; 
  font-size: 12pt;
  margin-bottom: 8px;
  text-decoration: none;
}

.desc {
  color: #ffffff60; 
  font-size: 9pt;
  margin-bottom: 16px;
}

.press{
  color: #fff;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 4px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #111111;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #222;
}

.btn.active {
  background-color: #333;
  color: white;
}


/*id*/

#gallery::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0);
}

#gallery::-webkit-scrollbar
{
  width: 5px;
  background-color: rgba(0,0,0,0.3);
}

#gallery::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 1px solid rgba(255,255,255,0.3);
}


#percent {
  width: 0; 
  height: 1px; 
  text-align: right; 
  background-color: #00000000;
}

#content {
  text-decoration: none; 
  border: outset;
  padding: 8px;
  border-width: 0.5px;
  border-color: #fff;
  color: #fff;
}

#container {
  opacity: 1;
  height: 53%;
}

#header {
  opacity: 1;
  vertical-align: center;
  width: 100%;
  height: 116px; 
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 100) 100%);
  position: fixed; 
}

#header-bar {
  height: 100%;
  bottom: 50;
  align-content: center;
  padding-top: 24px;
  padding-right: 4%;
  padding-left: 4%;
}

#links {
  width: auto;
  align-content: center;
  /*border: 1px solid #bcbcbc;*/
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 100) 0%, rgba(0, 0, 0, 0) 100%);
  height: 116px; 
}

#footer-bar {
  height: 100%;
  bottom: 50;
  align-content: center;
  padding-top: 56px;
  padding-right: 4%;
  padding-left: 4%;
}

#big-logo {
  width: 42px; 
  height: auto;
  /*margin-top: 72px;*/
}

#small-logo {
  width: 36px; 
  height: auto; 
  /*margin-top: 72px;*/
}

#copyright {
  font-size: 10pt;
}

#ago {
width: 100%; 
margin-bottom: -32px;
}

#left {
width: 100%; 
}

.transition-ani {
  /*background-color: #673ab7;*/
  transition: 0.5s all ease-in-out;
  /*border-radius: 1.25em;*/ 
  /*height: 16px;*/ 
  /*display: inline-block;*/
  animation: progress 3s ease-in-out forwards;
  -webkit-animation: progress 3s ease-in-out forwards;
}

@keyframe slideout {
  0% {margin-top: 300px;

  }

  100% {margin-top: 0px;

  }
}
.slideout {
  /*background-color: #673ab7;*/
  animation: slideout;
}

.thumb-port {
  width: 100%;
  max-width: 850px;
  height: auto;

  margin-bottom: 8px;
}

.thumb-land {
  width: 480px;
  height: auto;
  margin-bottom: 8px;
}

@media ( max-width: 960px ) {
  .column {
    width: 33.3%;
  }
}

@media ( max-width: 480px ) {

  #space {
        height: 20%;
        visibility: hidden;
      }

  #header {
        opacity: 1;
        vertical-align: center;
        width: 100%;
        height: 96px; 
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 100) 100%);
        position: fixed; 
  }

  #header-bar {
        height: 100%;
        bottom: 50;
        align-content: center;
        padding-top: 8px;
        padding-right: 8%;
        padding-left: 8%;
  }

  #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        opacity: 1;
        height: 96px; 
  }

  #footer-bar {
        height: 100%;
        bottom: 50;
        align-content: center;
        padding-top: 56px;
        padding-right: 8%;
        padding-left: 8%;
  }

  #big-logo {
    width: 36px; 
    height: auto;
    /*margin-top: 72px;*/
  }
  
  #small-logo {
    width: 28px; 
    height: auto; 
    /*margin-top: 72px;*/
  }

  #copyright {
    font-size: 8pt;
  }

  .menu-button {
    color: #ffffff60; 
    font-size: 12pt;
  }

  .press{
    color: #fff;
  }
  
      
  .num {
        font-size: 30pt;
  }

  .num_sub {
        font-size: 30pt;
  }

  .txt {
        font-size: 28pt; 
        padding-left: 8px;
  }

  #content {
        text-decoration: none; 
        border: outset;
        padding: 8px;
        border-width: 0.5px;
        font-size: 11pt;
        border-color: #fff;
        color: #fff;
  }

  .counter {
        text-align: left;
  }

  #ago {
        width: 100%; 
        margin-bottom: -16px;
  }

  #space {
        height: 25%;
        visibility: hidden;
  }

  .column {
    width: 50%;
  }
 
}

@media ( max-width: 320px ) {
      
      .num {
        font-size: 24pt;
      }

      .num_sub {
        font-size: 24pt;
      }

      .txt {
        font-size: 24pt; 
        padding-left: 8px;
      }

      #content {
        text-decoration: none; 
        border: outset;
        padding: 8px;
        border-width: 0.5px;
        font-size: 11pt;
        border-color: #fff;
        color: #fff;
      }

      .counter {
        text-align: left;
      }

      #space {
        height: 20%;
        visibility: hidden;
      }
    }
 
  }
