* {
  margin: 0;
  padding: 0;
  background: #0a0a0a;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 200;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  color: white;
  letter-spacing: 5px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 100%; */
}

#logo {
  width: 42px;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 66vh;
  max-height: 90vh;
}

canvas {
  display: block;
  width: 90vw;
  max-width: 33vh;
  height: 120vw;
  aspect-ratio: 3 / 4;
  max-height: 44vh;
}

:root {
  --clip-position: center;
}

/* @supports (-webkit-clip-path: circle(300px at center)) or (clip-path: circle(300px at center)) {
  #mask {
    position: absolute;
    background: none;
    display: block;
    width: 90vw;
    max-width: 600px;
    height: 120vw;
    max-height: 800px;
    -webkit-clip-path: circle(300px at var(--clip-position));
    clip-path: circle(300px at var(--clip-position));
  }
} */

.desc-container {
  text-align: center;
  margin-top: 16px;
}

@supports (-webkit-clip-path: circle(300px at center)) or (clip-path: circle(300px at center)) {
  .mask-container {
    display: block;
    position: absolute;
    background: none;
    width: 100%;
  }
  .mask-container img {
    object-fit: contain;
    background: none;
    display: block;
    width: 100%;
    /* max-width: 600px; */
    height: 120vw;
    max-height: 800px;
    mix-blend-mode: lighten;
    opacity: 0.5;
    -webkit-clip-path: circle(200px at var(--clip-position));
    clip-path: circle(200px at var(--clip-position));
  }
}

canvas::after {
  content: " ";
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
}

footer, article {
  font-family: monospace;
  width: 100%;
  color: white;
  font-size: 15px;
  margin-left: 5px;
  text-shadow: 1px 1px 1px #737373;
}

article {
  padding: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 95%;
  text-align: left;
  padding-bottom: 15px;
}

footer a {
  color: orangered;
}

article {
  width: 48%;
  font-size: 15px;
}